@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Jua&family=Montserrat:wght@200&family=Nanum+Brush+Script&family=Poor+Story&family=Titillium+Web:ital,wght@1,300&display=swap');

body {
  background: #000 !important;
  color: #fff !important;
  font-family: 'Montserrat', sans-serif !important; 
}

.movie-slide {
  margin-top: 30px;
}

/* navigation */
.nav-item {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.nav-item:hover {
  color: crimson;
}

/* banner */
.banner {
  height: 600px;
  display: flex;
  align-items: center;
}
.banner::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 600px;
  background: linear-gradient(to right, black, transparent);
}
.banner-info {
  width: 40%;
  margin-left: 30px;
  z-index: 1;
}

/* loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* movie card */
.card-size {
  width: 300px;
  height: 200px;
  background-size: cover;
}
.overlay {
  background: #0000004e;
  width: 100%;
  height: 100%;
  padding: 20px;
  opacity: 0;
}
.card-size:hover .overlay {
  opacity: 1;
}
.adult {
  color: crimson;
  margin-left: 20px;
}
.card-genre {
  margin: 3px;
}
/* .card-detail {
  display: flex;
  align-items: flex-end;
} */